footer
  .container.text-center
    p.pull-left © 2017 
      a(href="http://kuriakinzeng.com") Kuriakin Zeng
      | . All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/kuriakinzeng/pinterest-clone') GitHub Project
      li
        a(href='https://github.com/kuriakinzeng/pinterest-clone/issues') Issues
